@font-face {
  font-family: monotype_corsiva;
  src: url('../theme/monotype_corsiva.ttf');
}

#view-message-page ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

#view-message-page ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

#view-message-page ion-item h2 {
  font-weight: 600;

}

#view-message-page ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

#view-message-page ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

#view-message-page ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

#view-message-page h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

#view-message-page p {
  /* line-height: 22px; */
  text-align: justify;
  font-weight: bold;
  font-family: monotype_corsiva;
  color: black;
}

#view-message-page ion-image {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  opacity: 0.5;
}

#view-message-page .ion-padding{
  /* --background: url('../imagenes/imagen2.png');
  background-image: url('../imagenes/imagen2.png'); */
}

#view-message-page .container {
  position: relative;
}

#view-message-page .center {
  position: absolute;
  top: 0%;
  left: 50%;
   transform: translate(-50%, -0%); 
}

#view-message-page .text-format{
  padding: 10px;
  overflow: hidden;
  white-space: initial;
}

#view-message-page .poem-format{
  padding: 10px;
  white-space: pre-line;
  text-align: center;
  color: black;
}
#view-message-page ion-content.secondary_view{
  /* --ion-background-color: var(--ion-color-secondary-contrast);  */
  --ion-background-color:linear-gradient(90deg, rgba(103,169,250,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 91%, rgba(103,169,250,1) 100%);
}
/* #view-message-page ion-content.secondary_view.view_background{
  background:red;
} */
#view-message-page ion-content.secondary_menu{
  --ion-background-color: linear-gradient(90deg, rgba(89,180,74,1) 0%, rgba(255,255,255,1) 14%, rgba(134,213,120,1) 54%, rgba(96,166,84,1) 69%, rgba(96,159,85,1) 84%, rgba(96,149,87,1) 100%);
}

#view-message-page ion-label.view-title{
  text-align: center;
  font-weight: 900;
  color: crimson;
}
#view-message-page ion-label.view-title{
  text-align: center;
  font-weight: 900;
  color: crimson;
}
#view-message-page ion-label.indication{
  font-weight: bolder;
  padding: 10px;
  overflow: hidden;
  white-space: initial;
  text-align: justify;
}
#indication-format{
  text-align: center;
  font-weight: 900;
  font-size: x-small;
  color: #000000;
}
#title-format{
  text-align: center;
  font-weight: 900;
  font-size: x-large;
  color: #232ba8;
  text-shadow: 0 0 10px #ffffff, 0 0 2px #000000;
}
ion-header.header-color{
  --ion-background-color:linear-gradient(90deg, rgba(89,180,74,1) 0%, rgba(1,1,1,1) 14%, rgba(134,213,120,1) 54%, rgba(96,166,84,1) 69%, rgba(96,159,85,1) 84%, rgba(96,149,87,1) 100%); 
}
ion-back-button.title-color{
  font-size: large;
  color: white;
}
